title: DTC Static Site
email: rahmat@docotel.com
description: simple static page using jekyll
baseurl: ''
url: ''
twitter_username: ''
github_username: ''
markdown: kramdown

# theme: minimal-mistakes-jekyll
remote_theme: "mmistakes/minimal-mistakes@4.15.2"

plugins:
  - jekyll-feed
  - jekyll-include-cache

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
